<footer appGrid class="py-2">
  <section class="columns">
    <div class="column">
      <h6 i18n class="text-muted text-gray mb-1">Pages</h6>

      <p *ngFor="let page of PAGES" class="no-wrap mb-0">
        <a class="text-light" [routerLink]="page.routerLink">{{ page.label }}</a>
      </p>
    </div>

    <div class="column">
      <h6 i18n class="text-muted text-gray mb-1">Contact</h6>

      <app-contact [light]="true"></app-contact>
    </div>

    <div class="column flex-centered">
      <a i18n-href href="https://www.onepercentfortheplanet.fr/" target="_blank">
        <img class="one-percent-for-the-planet" src="assets/onepercentfortheplanet.png" alt="1% for the Planet">
      </a>
    </div>
  </section>

  <section class="text-center">
    <p class="text-muted mb-0">{{ name }} © 2019 - {{ now }}</p>
  </section>
</footer>
