<img [src]="'assets/' + project.preview" [alt]="project.company">

<div class="overlay">
  <app-button
    light
    type="link"
    icon="fas fa-external-link-alt"
    [href]="project.companyWebsite"
    target="_blank"
    (onClick)="track('company-website')"
  >
    {{ project.company }}
  </app-button>
  <p>{{ project.description }}</p>
  <p class="languages">{{ project.languages | ngCommaSeparate }}</p>
  <app-button light [href]="project.website" target="_blank" (onClick)="track('project-website')">Voir plus</app-button>
</div>
