<section appGrid>
  <h1 i18n class="text-center">Confidentialité</h1>

  <p i18n>De manière générale, ce site ne stocke aucune donnée dans le navigateur (cookies, stockage local).</p>

  <h2 i18n>Hébergement</h2>

  <p i18n>Le site est hébergé à l'aide de <a href="https://pages.github.com/" target="_blank">Github Pages</a>. Il se peut que ce service collecte des données :</p>
  <blockquote>
    <p>Please note that GitHub may collect User Personal Information from visitors to your GitHub Pages website, including logs of visitor IP addresses, to comply with legal obligations, and to maintain the security and integrity of the Website and the Service.</p>

    <cite>- <a href="https://docs.github.com/en/github/site-policy/github-privacy-statement#github-pages" target="_blank">GitHub Privacy Statement</a></cite>
  </blockquote>

  <h2 i18n>Statistiques</h2>

  <p i18n>Le site utilise <a href="https://getinsights.io/">Insights</a> afin de collecter des statistiques relatives à l'utilisateur (langue, taille d'écran, navigateur, etc.) et à ses actions (pages vues, durée de la visite, clic sur certains éléments, etc.).<br>
  Insights est un service de statistiques axé sur la confidentialité. Il ne stocke aucune donnée dans le navigateur et respecte le paramètre <i>Do not track</i> du navigateur. <a href="https://getinsights.io/what-data-we-collect" target="_blank">Voir les données collectées</a></p>
</section>
