<div class="wrapper">
  <app-button (onClick)="track('linkedin')" [light]="light" iconOnly icon="fab fa-linkedin" [href]="info.linkedin" target="_blank"></app-button>
  <app-button (onClick)="track('github')" [light]="light" iconOnly icon="fab fa-github" [href]="info.github" target="_blank"></app-button>
</div>
<div class="wrapper">
  <app-button (onClick)="track('malt')" fullWidth [light]="light" icon="fas fa-briefcase" [href]="info.malt" target="_blank">Engagez moi sur Malt !</app-button>
</div>
<div class="wrapper">
  <app-button (onClick)="track('email')" fullWidth [light]="light" icon="fas fa-mail-bulk" [href]="'mailto:' + info.email">{{ info.email }}</app-button>
</div>
<div class="wrapper" *ngIf="info.CV">
  <app-button (onClick)="track('cv')" fullWidth [light]="light" icon="fas fa-file-pdf" [href]="'/assets/' + info.CV" target="_blank">Télécharger mon CV</app-button>
</div>
