@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  .wrapper {
    &:not(:last-child) {
      margin-bottom: $gutterL;
    }

    & > div {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: -$gutterL / 2;

      & > * {
        margin: $gutterL / 2;
      }
    }
  }
}
