@import 'variables';

:host {
  .wrapper {
    display: flex;
    justify-content: center;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: $gutter;
    }

    & > *:not(:last-child) {
      margin-right: $gutter;
    }
  }
}
