@import 'variables';

:host {
  .row {
    $svgHeight: 30.0rem;

    position: relative;
    min-height: $svgHeight;

    svg {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      display: block;
      width: 60%;
      height: $svgHeight;
      fill: $primaryColorXS;
      fill-opacity: 1;
    }

    p {
      margin-bottom: $gutterXL;
      font-size: $textL;
    }
  }
}
