@import 'variables';

$wrapperBackground: rgba($color: $black, $alpha: 0.6);
@keyframes fadein {
  from {
    background-color: transparent;
  }

  to {
    background-color: $wrapperBackground;
  }
}

@keyframes zoomin {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

:host {
  .wrapper {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: $zindexDialog;
    background-color: $wrapperBackground;
    animation: fadein ease $transitionDuration;

    .dialog {
      display: flex;
      flex-direction: column;
      padding: $gutterL;
      max-height: calc(100vh - 2*#{$gutterL});
      overflow: auto;
      border-radius: $radius;
      background-color: $grayS;
      animation: zoomin ease $transitionDuration;

      h2 {
        margin: 0;
        text-align: center;
      }

      .content {
        margin: $gutterL 0;
      }

      .close-button {
        align-self: center;
      }
    }
  }
}
