@import "variables";

// Importing full Spectre.css source code
@import "node_modules/spectre.css/src/spectre";

.navbar-brand {
  font-weight: 500;
}

.btn.btn-outline-dark {
  @include button-outline-variant($dark-color);
}

.btn.btn-malt {
  @include button-variant(#FC5655);
}

.btn.btn-transparent:not(:hover) {
  background: transparent !important;
}

.no-wrap {
  white-space: nowrap;
}
