<header appGrid class="navbar">
  <section class="navbar-section">
    <div class="dropdown show-sm">
      <button type="button" class="dropdown-toggle btn btn-link btn-action text-dark" tabindex="0">
        <i class="icon icon-apps"></i>
      </button>

      <ul class="menu">
        <li class="menu-item pt-2">
          <ng-container *ngTemplateOutlet="contactMe; context: { class: 'btn-block' }"></ng-container>
        </li>

        <ng-container *ngFor="let page of PAGES">
          <li *ngIf="page.displayInHeader" class="menu-item">
            <a [routerLink]="page.routerLink">{{ page.label }}</a>
          </li>
        </ng-container>
      </ul>
    </div>

    <p class="pages hide-sm no-wrap mb-0">
      <ng-container *ngFor="let page of PAGES">
        <span *ngIf="page.displayInHeader" class="text-separator">
          <a class="text-dark" [routerLink]="page.routerLink">{{ page.label }}</a>
        </span>
      </ng-container>
    </p>
  </section>

  <section class="navbar-center">
    <a class="navbar-brand text-dark" routerLink="/">{{ name }}</a>
  </section>

  <section class="navbar-section">
    <ng-container *ngTemplateOutlet="contactMe; context: { class: 'hide-sm mr-1' }"></ng-container>

    <div class="dropdown dropdown-right">
      <button type="button" class="dropdown-toggle btn btn-link btn-action text-dark" tabindex="0">
        <i class="icon icon-flag"></i>
      </button>

      <ul class="menu">
        <li *ngFor="let locale of locales" class="menu-item">
          <a [href]="locale === 'fr' ? '' : locale" [ngClass]="{ active: locale === currentLocale }" (click)="trackI18n(locale)">
            {
              locale, select,
              en {English}
              fr {Français}
            }
          </a>
        </li>
      </ul>
    </div>
  </section>
</header>

<ng-template #contactMe let-class="class">
  <button i18n class="btn btn-transparent" type="button" [ngClass]="class" (click)="toggleModal()">Me contacter</button>
</ng-template>

<div class="modal modal-sm" [ngClass]="{ active: isModalActive }">
  <a class="modal-overlay" aria-label="Close" (click)="toggleModal()"></a>

  <div class="modal-container">
    <div class="modal-header">
      <a class="btn btn-clear float-right" aria-label="Close" (click)="toggleModal()"></a>

      <div i18n class="modal-title h5">Me contacter</div>
    </div>

    <div class="modal-body">
      <div class="content">
        <app-contact></app-contact>
      </div>
    </div>
  </div>
</div>
