@import 'variables';

:host {
  header {
    
    .container {
      padding-top: $gutterL;
      padding-bottom: $gutterL;
      border-bottom: 0.1rem solid $gray;

      a {
        @extend %reset-button-styles;

        font-size: $textXL;
        font-weight: $bold;
      }

      .links {
        & > *:not(:last-child) {
          margin-right: $gutterL;
        }
      }
    }
  }
}
