<section appGrid>
  <h1 i18n class="text-center">À propos</h1>

  <h2 i18n>Compétences</h2>

  <div class="columns">
    <div class="column col-sm-12 col-6 py-2">
      <dl class="m-0">
        <dt i18n>Développement</dt>

        <dd><i class="icon icon-check"></i> Node.js / TypeScript / JavaScript</dd>
        <dd><i class="icon icon-check"></i> Angular / AngularJS</dd>
        <dd><i class="icon icon-check"></i> Bootstrap / Sass / CSS / HTML</dd>
        <dd><i class="icon icon-check"></i> Hapi.js / Express.js</dd>
        <dd><i class="icon icon-check"></i> Sequelize / Mongoose / MySQL / MongoDB</dd>
        <dd class="text-muted text-gray"><i class="icon icon-check"></i> Wordpress / PrestaShop / PHP</dd>
        <dd class="text-muted text-gray"><i class="icon icon-check"></i> Java / C / C++ / Python</dd>
      </dl>
    </div>

    <div class="column col-sm-12 col-6 py-2">
      <dl class="m-0">
        <dt i18n>Outils</dt>

        <dd><i class="icon icon-check"></i> Git</dd>
        <dd><i class="icon icon-check"></i> npm</dd>
        <dd i18n><i class="icon icon-check"></i> macOS / Linux / Shell Unix</dd>
      </dl>
    </div>
  </div>

  <p><b i18n>Bientôt :</b> Vue.js, Swift</p>

  <h2 i18n>Expérience, formation</h2>

  <p i18n class="mb-0">Pour plus de détails, jetez un coup d'œil à mon profil <a target="_blank" [href]="INFORMATION.linkedIn[locale]">LinkedIn</a> ou <a target="_blank" [href]="INFORMATION.malt">Malt</a>.</p>
</section>
