@import "variables";

section {
  &:not(:first-child) {
    padding-top: $unit-16;
  }

  &:not(:last-child) {
    padding-bottom: $unit-16;
  }

  picture {
    display: block;
    height: 8.0rem;
    margin-bottom: $unit-5;

    img {
      height: 100%;
      width: auto;
    }
  }
}
