@import 'variables';

:host {
  $sectionGutter: $gutterXXXL;

  svg, .about {
    background-color: $primaryColor;
  }

  svg {
    display: block;
    margin: #{-$sectionGutter / 2} 0; // Reduce default gutter as SVG acts as one
    fill: $grayS;
    fill-opacity: 1;
    background-color: $primaryColor;
  }

  section {
    padding: $sectionGutter 0;

    &.about {
      color: $white;
    }

    .container {
      h1, h2, p {
        margin: 0;
        text-align: center;
      }

      h1 {
        font-size: $titleXL;
      }

      h2 {
        font-size: $titleL;
      }

      p {
        font-size: $textXL;
      }

      img {
        height: 20.0rem;
        width: auto;
        border-radius: 50%;
      }

      & > *:not(:last-child) {
        margin-bottom: $gutterXXL;
      }
    }
  }
}
